body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav a:hover, nav a.active {
    background-color: #555;
}

main {
    padding: 20px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* home.html */

.home-content {
    text-align: center;
    padding-top: 20%;
}

.home-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 1.25em;
    margin-bottom: 30px;
}

.explore-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.explore-button:hover {
    background-color: #555;
}

/* Path: products.html */

.product-card {
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: border-color 0.3s;
}

.product-card:hover {
    border-color: yellow;
    box-shadow: 0 0 15px yellow, 0 0 0 5px yellow;
}

.product-card img {
    max-width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.price {
    font-weight: bold;
    font-size: 1.5em;
}

/* Cart.html */

.cart-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cart-content h1 {
    margin-top: 0;
    font-size: 2em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.cart-total {
    text-align: right;
    font-size: 1.5em;
}

.cart-total p {
    margin: 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: inline-block;
}

/* Mobile styles */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        text-align: center;
    }

    .home-content,
    .cart-content,
    .contact-form,
    .product-card {
        padding: 10px;
        margin: 10px;
    }

    .home-content {
        padding-top: 10%;
    }
    
    .cart-total, 
    .cart-content table, 
    .contact-form label, 
    .contact-form input, 
    .contact-form textarea {
        width: 100%;
    }
}
